
.calc{
    flex-direction: column;
    width: 100%;
    height: 630px;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 20px 20px 20px;
    align-items: center;
    text-align: center;
    float: left;
   /*background-image: url(gatoCalc.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%; */
}

form {
    width: 500px;
}

#historico {
    width: 30%;
    height: auto;
    font-size: 35px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 20px 20px 20px;
    align-items: center;
    text-align: center;
    background-color: red;
}

#resp{
    width: 300px;
    height: 40px;
    font-size: 35px;
    border-style: double;
    border-color: black;
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
    height: 90px;
    width: 60px;
    font-size: 25px;
}
